mixin btn(data)
  .btn.default-btn(class=data.class)
    if data.btn 
      button(type="button" data-target="form" class="trigger")=data.btn
    else if data.submit 
      input(type="submit" value=data.submit)
    else 
      a(href="#")=data.link

mixin input(data)
  .global_input(class=data.class ? data.class : data.class="form_input")
    if data.submit
      input(type="submit" value=data.submit)
    else
      input(type=data.type ? data.type : data.type="text" placeholder=data.place ? data.place : data.place="Ваше имя")